:root {
    --yellow: #fdd100;
    --green: #49d503;
    --red: #fb2d09;
    --blue: #0f83bb;
    --body: #fbfbfb;
    --fluid-text: calc(9px + (22 - 9) * ((100vw - 300px) / (1600 - 300)));
    --franklin: 'Franklin Gothic Heavy';
    --generalText: Arial, Helvetica, sans-serif;
    --bodyBg: #eaebee;
}

/* generic rules */



* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background: var(--bodyBg);
    font-family: var(--franklin) ;
}

a {
    transition: color 0.5s ease;
}

a:hover {
    text-decoration: none;
}


/* index header */

/* mobile */



.header {
    padding: 50px 0;
    height: 100vh;
    background: var(--blue);
    color: white;
}

.header a {
    font-size: var(--fluid-text); 
    color: white;  
}

.header a:hover {
    color: var(--red);
}

.branding {
    text-align: center;
}

.header-logo {
    width: 15%;
    margin: -80px auto 0 auto;
}

.slogan {
    font-size: calc(32px + (72 - 32) * ((100vw - 300px) / (1600 - 300)));
    width: 35%;
    color: white;
}

.outline {
    display: block;
    color: var(--blue);
    /* text-shadow: 2px 2px 2px white; */
    -webkit-text-stroke: 2px white;
}

@media (max-width: 767px) {
    .slice {
        display: block;
        margin-bottom: 3px;
        width: 20px;
        height: 3px;
        background: white; 
    }

    .slogan {
        margin: 0;
        width: 50%;
    }

    .branding {
        text-align: left;
    }

    .header-logo {
        margin-left: 30px;
        width: 20%;
    }
}

/* sections */

.section {
    padding: 30px 0;
    height: 100vh;
}

/* section1 */

.bio-header {
    text-align: center;
    padding-top: 30px;
}

.bio-pic {
    /* display: block; */
    margin-top: -80px;
}


.highlight {
    font-weight: 900;
}

.bio-text, .language-text {
    font-family: var(--generalText);
    font-weight: 100;
    text-align: justify;
}

.language-list {
    list-style-type: none;
    padding-left: 0;
}

.lang-list-item {
    padding: 8px 0;
    font-family: var(--generalText);
    font-weight: 200;
    color: #555;
    border-top: 1px solid #ccc;
    border-left: none;
    border-right: none; 
}

.lang-list-item:last-child {
    border-bottom: 1px solid #ccc;
}

/* section2 */
.section2 {
    background: var(--green);
}

.portfolio-header {
    padding-bottom: 20px;
    font-size: 48px;
    text-align: center;
    text-transform: uppercase;
    color: var(--green);
    -webkit-text-stroke: 2px white;
}

.project-title {
    color: #555;
}

.project-text {
    font-family: var(--generalText);
    font-size: var(--fluid-text);
    color: #777;
}